<link rel="stylesheet" href="/css/landingPage.css" type="text/css" />



  
<div class="banner-area">

        <div class="banner-text">
            <h1>Join Us Now ! </h1>
            <p> Get assinged to projects, keep track of your tasks and  achievements please connect with us. Feel free to Signup if not an user.  </p>
            <a href="/signInPage">Sign In</a>
            <a href="/signUpPage">Sign Up</a>
        </div>


    </div>