<link
rel="stylesheet"
href="/css/signUp.css"
type="text/css"
/>

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form action="/user/create" method="post" class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input name="name" type="text" class="login__input" placeholder="Enter your Name" required>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input name="email" type="email" class="login__input" placeholder="Enter your Email" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input name="password" type="password" class="login__input" placeholder="Password" required>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input name="confirmPassword" type="password" class="login__input" placeholder="Confirm Password" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input name="role" type="text" class="login__input" placeholder="Enter your Role" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input name="department" type="text" class="login__input" placeholder=" Enter your Department" required>
				</div>
				<button type="submit" class="button login__submit">
					<span class="button__text">sign up </span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>

		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>