
<link
rel="stylesheet"
href="/css/signIn.css"
type="text/css"
/>


<div class="sign_in">
	<div class="promo">
	  <h1 class="title">Join us now !</h1>
	  <div class="subtitle">Blast off today and join the fun! Getting started is<br>only a few click away.</div>
	  <div class="buttons">
		<a class="anchor" href="/"><button class="btn">Home  </button> </a>
		<a class="anchor" href="/signUppage"><button class="btn btn_outline">Sign Up</button></a>
	  </div>
	</div>
	<div class="form_container">
	  <div class="form">
		<h2 class="heading">Let's prepare for launch!</h2>
		<div class="description">Getting started is quick and simple, just fill out the info below!</div>
		<form action="/user/session" method="post" >
		  <input name="email" class="input" type="email" placeholder="Email Address">
		  <input name="password" class="input" type="password" placeholder="Password">

		  <button type="submit" class="btn btn_accent">Sign In</button>
		</form>
	  </div>
	  <div class="copyright">&copy; 2022 All Rights Reserved.</div>
	</div>
  </div>